
QLabel {
  border: 1ps solid black;
}
QPushButton {
  padding: 25px 0px;
  border: 5px solid "#05386B";
  color: "#05386B";
  font-family: "Arial";
  font-size: 25px;
  background-color: white;
  max-height:100px;
  padding:5px;
  border: 5px solid "#05386B";
  border-radius:50%;
}
QPushButton:hover {
  background: "#05386B";
  color: "#E5E5E5";

}
QWidget{
    background:#E5E5E5;
}
QLineEdit
{
    border: 5px solid "#05386B";
    border-radius:50%;
    color:"#05386B";

}

QLineEdit:focus
{
    color:"#E5E5E5";
    background-color:"#05386B"
}
QLabel
{
    color:"#05386B";
}
QTableView
{
  color:"#05386B";
  background-color: #E5E5E5;
  
}
QHeaderView::section {
  color:"#05386B";
  background-color: "#E5E5E5";
  border: 2px solid "#05386B";

  
}
QTableWidget QTableCornerButton::section {
  background-color: "#E5E5E5";
  border: 2px solid "#05386B";
}
LetterButton
{
  font-size:16px;
  border: 1px solid  "#05386B";
  border-radius: 10px;
  padding:10px;

}
LetterButton:hover {
  background: "#05386B";
  color: "#E5E5E5";

}
QPushButton:pressed 
{
  background:"#4881b9";
  border-color: "#4881b9";
  
}
LetterButton:pressed
{
  background:"#4881b9";
  border-color: "#4881b9";

  
}